In [1]:
import pandas as pd
from itertools import groupby

In [2]:
file = 'SHORTSEA_MUN_C7_V3_HE_1.txt'

In [3]:
number_of_vessels = 3
number_of_ports = 39
number_of_cargoes = 7

In [4]:
df_home_port = pd.read_csv(file, skiprows = 18, nrows = 3, encoding="latin1", names = ['vessel index', 'home port', 'starting time', 'capacity'])

In [5]:
df_home_port

   vessel index  home port  starting time  capacity
0             1          8            125     13200
1             2         13            106     13200
2             3         31              0     16500

In [6]:
df_compatibility = pd.read_csv(file, skiprows = 24, nrows = 3, encoding="latin1", names = ['vessel index', 'com1', 'com2','com3','com4', 'com5','com6', 'com7'])

In [7]:
df_compatibility

   vessel index  com1  com2  com3  com4  com5  com6  com7
0             1     1     3     7   NaN   NaN   NaN   NaN
1             2     1     3     7   NaN   NaN   NaN   NaN
2             3     1     2     3   4.0   5.0   6.0   7.0

In [8]:
df_compatibility[df_compatibility['vessel index'] == 1]

   vessel index  com1  com2  com3  com4  com5  com6  com7
0             1     1     3     7   NaN   NaN   NaN   NaN

In [9]:
df_compatibility.loc[1, :].values.tolist()[1:]

[1.0, 3.0, 7.0, nan, nan, nan, nan]

In [10]:
df_vessels = pd.read_csv(file, skiprows = 24, nrows = 3, encoding="latin1", names = ['vessel index', 'home port', 'starting time', 'capacity'])

In [11]:
df_vessels

   vessel index  home port  starting time  capacity
0             1          1              3         7
1             2          1              3         7
2             3          1              2         3

In [12]:
df_cargoes = pd.read_csv(file, skiprows = 28, nrows = number_of_cargoes, encoding="latin1", names = ['cargo index', 'origin port', 'destination port', 'size', 'cost of not transporting', 'lb tw pu', 'ub tw pu', 'lb tw d', 'ub tw d'])

In [13]:
df_cargoes

,cargo index,origin port,destination port,size,cost of not transporting,lb tw pu,ub tw pu,lb tw d,ub tw d
0,1,17,37,4601,790000,345,417,345,1006
1,2,33,36,13444,430790,96,168,96,529
2,3,17,27,6596,200354,715,787,715,1089
3,4,6,1,11052,275455,0,72,0,435
4,5,38,33,6643,642740,107,179,107,593
5,6,10,38,14139,587198,300,372,300,801
6,7,26,6,5310,359885,178,250,178,567

In [14]:
df_cost = pd.read_csv(file, skiprows = 36, nrows = 4563 , encoding="latin1", names = ['vessel', 'origin port', 'destination port', 'travel time (in hours)', 'travel cost (in Ä)'])

In [15]:
df_cost

,vessel,origin port,destination port,travel time (in hours),travel cost (in Ä)
0,1,1,1,0,0
1,2,1,1,0,0
2,3,1,1,0,0
3,1,1,2,71,48031
4,2,1,2,71,48031
...,...,...,...,...,...
4558,2,39,38,75,50672
4559,3,39,38,70,41008
4560,1,39,39,0,0
4561,2,39,39,0,0
4562,3,39,39,0,0

In [16]:
with open(r"SHORTSEA_MUN_C7_V3_HE_1.txt",'r', encoding = 'latin1') as fp:
    for count, line in enumerate(fp):
        pass
print('lies', count +1)

lies 4622

In [17]:
df_port_cost = pd.read_csv(file, skiprows = 4600, nrows = 21 , encoding="latin1", names = ['vessel', 'cargo', 'origin port time (in hours)', 'origin port costs (in Ä)', 'destination port time (in hours)', 'destination port costs (in Ä)'])

In [18]:
df_port_cost

,vessel,cargo,origin port time (in hours),origin port costs (in Ä),destination port time (in hours),destination port costs (in Ä)
0,1,1,13,23768,16,29040
1,1,2,-1,-1,-1,-1
2,1,3,17,23768,19,28042
3,1,4,-1,-1,-1,-1
4,1,5,-1,-1,-1,-1
5,1,6,-1,-1,-1,-1
6,1,7,18,30200,18,29828
7,2,1,13,23768,16,29040
8,2,2,-1,-1,-1,-1
9,2,3,17,23768,19,28042
10,2,4,-1,-1,-1,-1
11,2,5,-1,-1,-1,-1
12,2,6,-1,-1,-1,-1
13,2,7,18,30200,18,29828
14,3,1,13,25418,16,30690
15,3,2,30,25440,35,32758
16,3,3,17,25418,20,29692
17,3,4,30,31478,31,33153
18,3,5,22,33227,17,25440
19,3,6,31,23893,37,33227
20,3,7,18,31850,18,31478

In [19]:
input_ = [0,7,7,2,2,0,0,4,1,2,5,3,6,4,1,2,5,3,6]

In [20]:
indices = [i + 1 for i, x in enumerate(input_) if x == 0]

ret = [input_[i:j] for i, j in zip([0] + indices, indices + [None])]

print(ret)

[[0], [7, 7, 2, 2, 0], [0], [4, 1, 2, 5, 3, 6, 4, 1, 2, 5, 3, 6]]

In [21]:
for i in ret:
    if i[-1] == 0:
        del i[-1]

In [22]:
ret

[[], [7, 7, 2, 2], [], [4, 1, 2, 5, 3, 6, 4, 1, 2, 5, 3, 6]]

# Compatibility

In [23]:
v = []
for i in range(0, number_of_vessels):
    v.append(df_compatibility.loc[i, :].values.tolist()[1:])

In [24]:
for i in range(0, len(ret)-1):
    for j in range(0, len(ret[i])):
        if ret[i][j] not in v[i]:
            print('vessel is not compatible')

vessel is not compatible
vessel is not compatible

In [25]:
seen = []
a = []
b = []
increase = []
total = []


for i in range(0, number_of_vessels):
    sum_ = 0
    for j in range(0, len(ret[i])):

        if ret[i] == []:
            size.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] == 0) & (df_cost['origin port'] == 0) & (df_cost['destination port'] == 0)])
       # i = i+1
        else:
            if ret[i][j] not in seen:
                a = df_cargoes['size'][(df_cargoes['cargo index'] == ret[i][j])]
                a = pd.DataFrame(a)
                a = a.loc[:, :].values.tolist()
                a = a[0][0]
                sum_ = sum_ + a
                total.append(sum_)
                seen.append(ret[i][j])
            else:
                b = - (df_cargoes['size'][(df_cargoes['cargo index'] == ret[i][j])])
                b = pd.DataFrame(b)
                b = b.loc[:, :].values.tolist()
                b = b[0][0]
                sum_ = sum_ + b
                total.append(sum_)


myList = total
#myNum = (2,4,3) 
newList = [] 

myNum = []
for i in range(0, number_of_vessels):
    myNum.append(len(ret[i]))


for i in myNum:
    newList.append(list(myList[:i]))
    [ myList.pop(myList.index(x)) for x in myList[:i] ]
print(newList)

size_vessel = [13200, 13200, 16500]
for i in range(0, number_of_vessels):
    if newList[i] == []:
        continue
    else:
        for j in range(0, len(newList[i])):
            if newList[i][j] > size_vessel[i]:
                print('no')

[[], [5310, 0, 13444, 0], []]
no

In [26]:
time_home = []
for i in range(0, len(ret)-1):
    if ret[i] == []:
        time_home.append([])
     
       # i = i+1
    else:
        
        k = df_home_port['home port'][df_home_port['vessel index'] == i+1]
        m = df_cargoes['origin port'][(df_cargoes['cargo index'] == ret[i][0])]
            
        k = pd.DataFrame(k)
        k = k.loc[: , :].values.tolist()
        k = k[0][0]
            
        m = pd.DataFrame(m)
        m = m.loc[: , :].values.tolist()
        m = m[0][0]

        time_home.append(df_cost['travel time (in hours)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == k) & (df_cost['destination port'] == m)])

In [27]:
time_home

[[],
 1480    38
 Name: travel time (in hours), dtype: int64,
 []]

In [28]:
time_home
time_h_ = []

time_h_ = pd.DataFrame(time_home)
#time_h_ = time_h_.loc[: , :].values.tolist()
time_h_

      0
0   NaN
1  38.0
2   NaN

In [29]:
import numpy as np
time_h_.replace(np.nan, '', regex = True)
time_h_ = time_h_.loc[: , :].values.tolist()
time_h_

[[nan], [38.0], [nan]]

In [30]:
import math
my_l = []
for x in time_h_:
    for i in x:
        if math.isnan(i):
            my_l.append([])
        else:
            my_l.append(i)

In [31]:
my_l

[[], 38.0, []]

In [37]:
r

[[], 106, []]

In [38]:
newV

[[], [11, 97, 66], []]

In [39]:
newsum

[[], [155.0, 252.0, 318.0], []]

In [40]:
newsh

[[], [18, 18, -1, -1], []]

In [70]:
seen = []   
v = []
r = []



for i in range(0, number_of_vessels):
    if ret[i] == []:
        r.append([])
       # i = i+1
    else:
        
        k = df_home_port['home port'][df_home_port['vessel index'] == i+1]
        n = df_home_port['starting time'][df_home_port['vessel index'] == i+1]
        m = df_cargoes['origin port'][(df_cargoes['cargo index'] == ret[i][0])]
            
        k = pd.DataFrame(k)
        k = k.loc[: , :].values.tolist()
        k = k[0][0]
            
        m = pd.DataFrame(m)
        m = m.loc[: , :].values.tolist()
        m = m[0][0]

        n = pd.DataFrame(n)
        n = n.loc[: , :].values.tolist()
        n = n[0][0]
        
        
        
        r.append(n)


        
        for j in range(0, len(ret[i])):
            if j+1 >= len(ret[i]):
                continue
            elif ret[i] == []:
                v.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] == 0) & (df_cost['origin port'] == 0) & (df_cost['destination port'] == 0)])
    
                                                                                                             
            else:
            #vessel = i+1
            #origin_port = ret[i][j]
            #dest_port = ret[i][j+1]
                g = df_cargoes['origin port'][df_cargoes['cargo index'] == ret[i][j]]
                f = df_cargoes['destination port'][df_cargoes['cargo index'] == ret[i][j+1]]
          
        
                
                g = pd.DataFrame(g)
                g = g.loc[: , :].values.tolist()
                g = g[0][0]
            
                f = pd.DataFrame(f)
                f = f.loc[: , :].values.tolist()
                f = f[0][0]
                if ret[i][j] not in seen:
                
                    l = df_cost['travel time (in hours)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == g) & (df_cost['destination port'] == f)]
                    l = pd.DataFrame(l)
                    l = l.loc[: , :].values.tolist()
                    l = l[0][0]
                
                    v.append(l)
                
                

                #list_.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == g) & (df_cost['destination port'] == f)])
                    seen.append(ret[i][j])
                else:
                
                    g = df_cargoes['origin port'][df_cargoes['cargo index'] == ret[i][j+1]]
                    f = df_cargoes['destination port'][df_cargoes['cargo index'] == ret[i][j]]

             
                    g = pd.DataFrame(g)
                    g = g.loc[: , :].values.tolist()
                    g = g[0][0]
            
                    f = pd.DataFrame(f)
                    f = f.loc[: , :].values.tolist()
                    f = f[0][0]
                    
                    l = df_cost['travel time (in hours)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == g) & (df_cost['destination port'] == f)]
                    l = pd.DataFrame(l)
                    l = l.loc[: , :].values.tolist()
                    l = l[0][0]
                    v.append(l)                    
                    
                    
                    
myList = v
#myNum = (2,4,3) 
newV = [] 

myNum = []

for i in range(0, number_of_vessels):
    if ret[i] == []:
        myNum.append(0)
    else:
        myNum.append(len(ret[i])-1)


for i in myNum:
    newV.append(list(myList[:i]))
    [ myList.pop(myList.index(x)) for x in myList[:i] ]
print(newV)

sh = []
for i in range(0, number_of_vessels):
    for j in range(0, len(ret[i])):
        if ret[i] == []:
            sh.append([])
        elif ret[i][j] not in seen:
            s = df_port_cost['origin port time (in hours)'][(df_port_cost['vessel'] ==i+1) & (df_port_cost['cargo'] ==ret[i][j])]
            s = pd.DataFrame(s)
            s = s.loc[: , :].values.tolist()
            s = s[0][0]
            sh.append(s)
            seen.append(ret[i][j])
        else:
            s = df_port_cost['destination port time (in hours)'][(df_port_cost['vessel'] ==i+1) & (df_port_cost['cargo'] ==ret[i][j])]
            s = pd.DataFrame(s)
            s = s.loc[: , :].values.tolist()
            s = s[0][0]
            sh.append(s)
            
myList = sh
#myNum = (2,4,3) 
newsh = [] 

myNum = []

for i in range(0, number_of_vessels):
    if ret[i] == []:
        myNum.append(0)
    else:
        myNum.append(len(ret[i]))


for i in myNum:
    newsh.append(list(myList[:i]))
    [ myList.pop(myList.index(x)) for x in myList[:i] ]
print(newsh)


seen = []
orig_destin = []
for i in range(0, number_of_vessels):
    for j in range(0, len(ret[i])):
        if ret[i][j] not in seen:
            orig_dest = df_cargoes['ub tw pu'][df_cargoes['cargo index'] == ret[i][j]]
            orig_dest = pd.DataFrame(orig_dest)
            orig_dest = orig_dest.loc[: , :].values.tolist()
            orig_dest = orig_dest[0][0]
            orig_destin.append(orig_dest)
            seen.append(ret[i][j])
        else:
            orig_dest = df_cargoes['ub tw d'][df_cargoes['cargo index'] == ret[i][j]]
            orig_dest = pd.DataFrame(orig_dest)
            orig_dest = orig_dest.loc[: , :].values.tolist()
            orig_dest = orig_dest[0][0]
            orig_destin.append(orig_dest)

            
myList = orig_destin
#myNum = (2,4,3) 
newordest = [] 

myNum = []

for i in range(0, number_of_vessels):
    if ret[i] == []:
        myNum.append(0)
    else:
        myNum.append(len(ret[i]))


for i in myNum:
    newordest.append(list(myList[:i]))
    [ myList.pop(myList.index(x)) for x in myList[:i] ]
print(newordest)


            
            

summations = []
for i in range(0, number_of_vessels):
    summation = 0
    for j in range(0, len(ret[i])-1):
        if r == []:
            p.append([])
        else:
            if j == 0:
                summation = summation + my_l[i] + r[i] + newV[i][j]
                summations.append(summation)
            else:
                summation =  summation + newV[i][j]
                summations.append(summation)

myList = summations
                    
#myNum = (2,4,3) 
newsum = [] 

myNum = []

for i in range(0, number_of_vessels):
    if ret[i] == []:
        myNum.append(0)
    else:
        myNum.append(len(ret[i])-1)


for i in myNum:
    newsum.append(list(myList[:i]))
    [ myList.pop(myList.index(x)) for x in myList[:i] ]
print(newsum)


seen = []



for i in range(0, number_of_vessels):
    for j in range(0, len(ret[i])):
        if ret[i] == []:
            b.append()
        else:
            if ret[i][j] not in seen:
                first_ = df_cargoes['lb tw pu'][df_cargoes['cargo index'] == ret[i][j]]
                last_ = df_cargoes['ub tw pu'][df_cargoes['cargo index'] == ret[i][j]]
                
                first_ = pd.DataFrame(first_)
                first_ = first_.loc[: , :].values.tolist()
                first_ = first_[0][0]
                
                last_ = pd.DataFrame(last_)
                last_ = last_.loc[: , :].values.tolist()
                last_ =  last_[0][0]

[[], [11, 97, 66], []]
[[], [18, 18, -1, -1], []]
[[], [250, 567, 168, 529], []]
[[], [155.0, 252.0, 318.0], []]

In [175]:
newsum1[1].insert(0,5)
newsum1

[[], [5, 5, 155, 270, 318], [], 5]

In [71]:
newsum1 = [[], [155,270,318],[]]
for i in range(0, 2):
    if newsum1[i] != []:
        newsum1[i].insert(0, my_l[i])
newsum1

[[], [38.0, 155, 270, 318], []]

In [83]:
seen = []
for i in range(0, number_of_vessels):
    for j in range(0, len(ret[i])-1):
        if ret[i] == []:
            b.append([])
        else:
            if ret[i][j] not in seen:
                first_ = df_cargoes['lb tw pu'][df_cargoes['cargo index'] == ret[i][j]]
                last_ = df_cargoes['ub tw pu'][df_cargoes['cargo index'] == ret[i][j]]
                
                first_ = pd.DataFrame(first_)
                first_ = first_.loc[: , :].values.tolist()
                first_ = first_[0][0]
                
                last_ = pd.DataFrame(last_)
                last_ = last_.loc[: , :].values.tolist()
                last_ =  last_[0][0]
                
                if first_ >= newsum1[i][j]:
                    newsum[i][j] = first_
                    continue
                elif first_ <= newsum1[i][j] <= last_:  
                    continue
                else:
                    print('no')
                
                seen.append(ret[i][j])
            else:
                first_ = df_cargoes['lb tw d'][df_cargoes['cargo index'] == ret[i][j]]
                last_ = df_cargoes['ub tw d'][df_cargoes['cargo index'] == ret[i][j]]
                
                first_ = pd.DataFrame(first_)
                first_ = first_.loc[: , :].values.tolist()
                first_ = first_[0][0]
                
                last_ = pd.DataFrame(last_)
                last_ = last_.loc[: , :].values.tolist()
                last_ =  last_[0][0]
                
                if first_ >= newsum1[i][j]:
                    newsum[i][j] = first_
                    continue
                    
                elif first_ <= newsum1[i][j] <= last_:  
                    continue
                else:
                    print('no')
           # if j < (len(ret[i])-2):
                    for i in range(0, 3):
                        for j in range(0, len(ret[i]) - 1):
                            if ret[i] == 0:
                                b.append([])
                            else:
                                newsum1[i][j+1] = newsum1[i][j+1] + newsh[i][j]

no

In [84]:
newsum1

[[], [38.0, 173, 288, 314], []]

In [81]:
newsh

[[], [18, 18, -1, -1], []]

In [82]:
for i in range(0, 3):
    for j in range(0, len(ret[i]) - 1):
        if ret[i] == 0:
            b.append([])
        else:
            newsum1[i][j+1] = newsum1[i][j+1] + newsh[i][j]
newsum1

[[], [38.0, 173, 288, 314], []]

In [67]:
i,j

(2, 2)

In [935]:
seen

[7]

In [891]:
summations = []
for i in range(0, number_of_vessels):
    summation = 0
    for j in range(0, len(ret[i])-1):
        if r == []:
            p.append([])
        else:
            if j == 0:
                summation = summation + r[i] + newV[i][j]
                summations.append(summation)
            else:
                summation = summation + newV[i][j]
                summations.append(summation)

In [892]:
summations

[117, 214, 280, 191, 382, 412]

In [888]:
i, j

(2, 2)

In [737]:
myNum = []
for i in range(0, number_of_vessels):
    myNum.append(len(ret[i]))

In [34]:
newordest

[[], [250, 567, 168, 529], []]

In [671]:
b

[6   -5310
 Name: size, dtype: int64,
 1   -13444
 Name: size, dtype: int64]

In [618]:
v[1]

[1.0, 3.0, 7.0, nan, nan, nan, nan]

In [535]:
for i in range(0, len(ret)-1):
    if ret[i] == []:
        cost_home.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] == 0) & (df_cost['origin port'] == 0) & (df_cost['destination port'] == 0)])
       # i = i+1
    else:
        
        k = df_home_port['home port'][df_home_port['vessel index'] == i+1]
        m = df_cargoes['origin port'][(df_cargoes['cargo index'] == ret[i][0])]
            
        k = pd.DataFrame(k)
        k = k.loc[: , :].values.tolist()
        k = k[0][0]
            
        m = pd.DataFrame(m)
        m = m.loc[: , :].values.tolist()
        m = m[0][0]

        cost_home.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == k) & (df_cost['destination port'] == m)])

In [ ]:
newordest

In [536]:
cost_home

[Series([], Name: travel cost (in Ä), dtype: float64),
 1453    58472.0
 Name: travel cost (in Ä), dtype: float64,
 3587    32237.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 1453    58472.0
 Name: travel cost (in Ä), dtype: float64,
 3587    32237.0
 Name: travel cost (in Ä), dtype: float64]

In [454]:
sep = 0
ret = [list(items) for key, items in groupby(input_, lambda x: x==sep) if not key]

In [455]:
ret

[[1, 1], [3, 3], [5, 5], [7, 6, 2, 4, 7, 6, 2, 4]]

In [456]:
df_cost = df_cost.astype({'travel cost (in Ä)':'float', 'vessel': 'float', 'origin port':'float', 'destination port': 'float'})

In [479]:
list_ = []
l=[]
cost_of_not_transfer=[]
m=[]
k=[]
s=[]
cost_home = []
cost_vc_origin = []
cost_vc_dest =[]


for i in ret:
    if i[-1] == 0:
        del i[-1]



for i in range(0, number_of_vessels):
        if ret[i] == []:
            m.append(df_cargoes['origin port'][(df_cargoes['cargo index'] == 0)])
            k.append(df_home_port['home port'][(df_home_port['vessel index'] == 0)])
        
        else:
            k.append(df_home_port['home port'][(df_home_port['vessel index'] == i+1)])
            print(i)
            s.append(ret[i][0])
            m.append(df_cargoes['origin port'][(df_cargoes['cargo index'] == ret[i][0])])
M = []
m = pd.DataFrame(m)
m = m.loc[: , :].values.tolist()
#m.columns = [0, 1, 2]

from math import nan
M_ = []
for i in m:
    for j in range(0, len(i)):
        if str(i[j]) != 'nan':
            M_.append(i[j])




#for i in range(0, len(m)):
   # M.append(m[i][i])
K = []
for i in range(0, len(k)):
    if ret[i] == []:
        K.append(df_cargoes['origin port'][(df_cargoes['cargo index'] == ret[i][0])])
    else:
        K.append(k[i][i])
        
for i in range(0, len(K)):
    if ret[i] == []:
        cost_home.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] == 0) & (df_cost['origin port'] == 0) & (df_cost['destination port'] == 0)])
       # i = i+1
    else:
        cost_home.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == K[i]) & (df_cost['destination port'] == M_[i])])

seen = []       
for i in range(0, len(ret)):
    for j in range(0, len(ret[i])):
        if j+1 >= len(ret[i]):
            continue
        elif ret[i] == []:
            list_.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] == 0) & (df_cost['origin port'] == 0) & (df_cost['destination port'] == 0)])
    
                                                                                                             
        else:
            #vessel = i+1
            #origin_port = ret[i][j]
            #dest_port = ret[i][j+1]
            g = df_cargoes['origin port'][df_cargoes['cargo index'] == ret[i][j]]
            f = df_cargoes['destination port'][df_cargoes['cargo index'] == ret[i][j+1]]
            
            g = pd.DataFrame(g)
            g = g.loc[: , :].values.tolist()
            g = g[0][0]
            
            f = pd.DataFrame(f)
            f = f.loc[: , :].values.tolist()
            f = f[0][0]
            if ret[i][j] not in seen:

                list_.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == g) & (df_cost['destination port'] == f)])
                seen.append(ret[i][j])
            else:
                
                g = df_cargoes['origin port'][df_cargoes['cargo index'] == ret[i][j+1]]
                f = df_cargoes['destination port'][df_cargoes['cargo index'] == ret[i][j]]
            
             
                g = pd.DataFrame(g)
                g = g.loc[: , :].values.tolist()
                g = g[0][0]
            
                f = pd.DataFrame(f)
                f = f.loc[: , :].values.tolist()
                f = f[0][0]
                
                list_.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == g) & (df_cost['destination port'] == f)])
            


l = [*set(ret[3])]
            
for j in range(0, len(l)):
    if j+1 >= len(ret[3]):
            continue
    else:
        cost_of_not_transfer.append(df_cargoes['cost of not transporting'][df_cargoes['cargo index'] == l[j]])

        
        
        
ret1 = []
for i in range(0, 3):
    ret1.append([*set(ret[i])])
#ret1 = [*set(ret[3])]                
for i in range(0, len(ret1)):
    for j in range(0, len(ret1[i])):
        if ret1[i] == []:
            cost_vc_origin.append(df_port_cost['origin port costs (in Ä)'][(df_port_cost['vessel'] == 0) & (df_port_cost['cargo'] == 0)])
        else:
            cost_vc_origin.append(df_port_cost['origin port costs (in Ä)'][(df_port_cost['vessel'] ==i+1) & (df_port_cost['cargo'] ==ret1[i][j])])
            cost_vc_dest.append(df_port_cost['destination port costs (in Ä)'][(df_port_cost['vessel'] ==i+1) & (df_port_cost['cargo'] ==ret1[i][j])])

1
2

IndexError: list index out of range

In [563]:
list_ = []
l=[]
cost_of_not_transfer=[]

s=[]
cost_home = []
cost_vc_origin = []
cost_vc_dest =[]


for i in ret:
    if i[-1] == 0:
        del i[-1]


for i in range(0, len(ret)-1):
    if ret[i] == []:
        cost_home.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] == 0) & (df_cost['origin port'] == 0) & (df_cost['destination port'] == 0)])
       # i = i+1
    else:
        
        k = df_home_port['home port'][df_home_port['vessel index'] == i+1]
        m = df_cargoes['origin port'][(df_cargoes['cargo index'] == ret[i][0])]
            
        k = pd.DataFrame(k)
        k = k.loc[: , :].values.tolist()
        k = k[0][0]
            
        m = pd.DataFrame(m)
        m = m.loc[: , :].values.tolist()
        m = m[0][0]

        cost_home.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == k) & (df_cost['destination port'] == m)])


seen = []       
for i in range(0, len(ret)):
    for j in range(0, len(ret[i])):
        if j+1 >= len(ret[i]):
            continue
        elif ret[i] == []:
            list_.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] == 0) & (df_cost['origin port'] == 0) & (df_cost['destination port'] == 0)])
    
                                                                                                             
        else:
            #vessel = i+1
            #origin_port = ret[i][j]
            #dest_port = ret[i][j+1]
            g = df_cargoes['origin port'][df_cargoes['cargo index'] == ret[i][j]]
            f = df_cargoes['destination port'][df_cargoes['cargo index'] == ret[i][j+1]]
            
            g = pd.DataFrame(g)
            g = g.loc[: , :].values.tolist()
            g = g[0][0]
            
            f = pd.DataFrame(f)
            f = f.loc[: , :].values.tolist()
            f = f[0][0]
            if ret[i][j] not in seen:

                list_.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == g) & (df_cost['destination port'] == f)])
                seen.append(ret[i][j])
            else:
                
                g = df_cargoes['origin port'][df_cargoes['cargo index'] == ret[i][j+1]]
                f = df_cargoes['destination port'][df_cargoes['cargo index'] == ret[i][j]]
            
             
                g = pd.DataFrame(g)
                g = g.loc[: , :].values.tolist()
                g = g[0][0]
            
                f = pd.DataFrame(f)
                f = f.loc[: , :].values.tolist()
                f = f[0][0]
                
                list_.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == g) & (df_cost['destination port'] == f)])
            


l = [*set(ret[3])]
            
for j in range(0, len(l)):
    if j+1 >= len(ret[3]):
            continue
    else:
        cost_of_not_transfer.append(df_cargoes['cost of not transporting'][df_cargoes['cargo index'] == l[j]])

        
        
        
ret1 = []
for i in range(0, 3):
    ret1.append([*set(ret[i])])
#ret1 = [*set(ret[3])]                
for i in range(0, len(ret1)):
    for j in range(0, len(ret1[i])):
        if ret1[i] == []:
            cost_vc_origin.append(df_port_cost['origin port costs (in Ä)'][(df_port_cost['vessel'] == 0) & (df_port_cost['cargo'] == 0)])
        else:
            cost_vc_origin.append(df_port_cost['origin port costs (in Ä)'][(df_port_cost['vessel'] ==i+1) & (df_port_cost['cargo'] ==ret1[i][j])])
            cost_vc_dest.append(df_port_cost['destination port costs (in Ä)'][(df_port_cost['vessel'] ==i+1) & (df_port_cost['cargo'] ==ret1[i][j])])

In [565]:
ret

[[], [7, 7], [], [4, 1, 2, 5, 3, 6, 4, 1, 2, 5, 3, 6]]

In [275]:
K = []
for i in range(0, len(k)):
    #if ret[i] == []:
       # K.append(df_cargoes['origin port'][(df_cargoes['cargo index'] == ret[i][0])])
    #else:
    K.append(k[i][i])

In [498]:
m

[]

In [303]:
k = pd.DataFrame(k)
k = k.loc[: , :].values.tolist()

In [566]:
list_

[2941    7783.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64)]

In [172]:

myList = [1,2,3,0,0,1,5,6,8,0,6,5,7]

indices = [i + 1 for i, x in enumerate(myList) if x == 0]

split_stuff = [myList[i:j] for i, j in zip([0] + indices, indices + [None])]

print(split_stuff)

[[1, 2, 3, 0], [0], [1, 5, 6, 8, 0], [6, 5, 7]]

In [493]:
cost_home

[]

In [144]:
df_cargoes['cost of not transporting'][df_cargoes['cargo index'] == 0]

Series([], Name: cost of not transporting, dtype: int64)

In [142]:
m=[]
k= []
for i in range(0, number_of_vessels):
        if split_stuff[i] == []:
            m.append(df_cargoes['origin port'][(df_cargoes['cargo index'] == 0)])
            k.append(df_home_port['home port'][(df_home_port['vessel index'] == 0)])
        else:
            k.append(df_home_port['home port'][(df_home_port['vessel index'] == i+1)])
            print(i)
            s.append(ret[i][0])
            m.append(df_cargoes['origin port'][(df_cargoes['cargo index'] == split_stuff[i][0])])

0
2

In [137]:
df_cargoes['origin port'][(df_cargoes['cargo index'] == 0)]

Series([], Name: origin port, dtype: int64)

In [143]:
k = pd.DataFrame(k)
k = k.loc[: , :].values.tolist()
k

[[8.0, nan], [nan, nan], [nan, 31.0]]

In [21]:
g = df_cargoes['origin port'][df_cargoes['cargo index'] == ret[0][0]]
f = df_cargoes['destination port'][df_cargoes['cargo index'] == ret[0][1]]
            
g = pd.DataFrame(g)
g = g.loc[: , :].values.tolist()
g = g[0][0]
            
f = pd.DataFrame(f)
f = f.loc[: , :].values.tolist()
f = f[0][0]
            
df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==1) & (df_cost['origin port'] == g) & (df_cost['destination port'] == f)]

1980    179474.0
Name: travel cost (in Ä), dtype: float64

In [22]:
f, g

(37, 17)

In [23]:
ret1 = []
for i in range(0, 3):
    ret1.append([*set(ret[i])])

In [24]:
#df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == df_cargoes['origin port'][df_cargoes['cargo index'] == ret[i][j]]) & (df_cost['destination port'] ==ret[i][j+1])]
g = df_cargoes['origin port'][df_cargoes['cargo index'] == ret[i][j]]

In [25]:
g

5    10
Name: origin port, dtype: int64

In [26]:
g = pd.DataFrame(g)
g = g.loc[: , :].values.tolist()

In [27]:
g[0][0]

10

In [567]:
cost_vc_origin

[13    30200
 Name: origin port costs (in Ä), dtype: int64]

In [29]:
#l=[]
#for j in range(0, len(ret[3])):
      #  if j+1 >= len(ret[3]):
            #continue
       # if ret[3][j+1] == ret[3][j]:
            #continue        
        #else:
  #          l.append(ret[3][j])

In [30]:
#cost_of_not_transfer

In [31]:
#dimension = 0
#for i in range(0, number_of_vessels):
  #  dimension = dimension + (len(ret[i])-1)

In [32]:
m

[[17.0, nan, nan], [nan, nan, 26.0], [nan, 38.0, nan]]

In [309]:
list_

[2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 4442    0.0
 Name: travel cost (in Ä), dtype: float64,
 1166    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64)]

In [34]:
from math import nan
M_ = []
for i in m:
    for j in range(0, len(i)):
        if str(i[j]) != 'nan':
            M_.append(i[j])

In [35]:
M_

[17.0, 26.0, 38.0]

In [36]:
def createlist(r1, r2):
    return list(range(r1, r2))

In [459]:
cost_home

[867    20854.0
 Name: travel cost (in Ä), dtype: float64,
 1453    58472.0
 Name: travel cost (in Ä), dtype: float64,
 3623    84492.0
 Name: travel cost (in Ä), dtype: float64]

In [568]:
cost_home = pd.DataFrame(cost_home)
cost_home

                       1480
travel cost (in Ä)      NaN
travel cost (in Ä)  25628.0
travel cost (in Ä)      NaN

In [569]:
no_cost_home = len(cost_home.columns)
header_cost_home = createlist(0, no_cost_home)
cost_home.columns = header_cost_home
cost_home

                          0
travel cost (in Ä)      NaN
travel cost (in Ä)  25628.0
travel cost (in Ä)      NaN

In [570]:
list_ = pd.DataFrame(list_)
list_

                      2941
travel cost (in Ä)  7783.0
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN

In [571]:
no_list = len(list_.columns)
header_list_ = createlist(0, no_list)
list_.columns = header_list_
list_

                         0
travel cost (in Ä)  7783.0
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN
travel cost (in Ä)     NaN

In [572]:
cost_vc_origin = pd.DataFrame(cost_vc_origin)
cost_vc_origin

                             13
origin port costs (in Ä)  30200

In [573]:
no_cost_vc_origin = len(cost_vc_origin.columns)
header_cost_vc_origin = createlist(0, no_cost_vc_origin)
cost_vc_origin.columns = header_cost_vc_origin
cost_vc_origin

                              0
origin port costs (in Ä)  30200

In [574]:
cost_vc_dest = pd.DataFrame(cost_vc_dest)
cost_vc_dest

                                  13
destination port costs (in Ä)  29828

In [575]:
no_cost_vc_dest = len(cost_vc_dest.columns)
header_cost_vc_dest = createlist(0, no_cost_vc_dest)
cost_vc_dest.columns = header_cost_vc_dest
cost_vc_dest

                                   0
destination port costs (in Ä)  29828

In [576]:
cost_of_not_transfer = pd.DataFrame(cost_of_not_transfer)
cost_of_not_transfer

,0,1,2,3,4,5
cost of not transporting,790000.0,NaN,NaN,NaN,NaN,NaN
cost of not transporting,NaN,430790.0,NaN,NaN,NaN,NaN
cost of not transporting,NaN,NaN,200354.0,NaN,NaN,NaN
cost of not transporting,NaN,NaN,NaN,275455.0,NaN,NaN
cost of not transporting,NaN,NaN,NaN,NaN,642740.0,NaN
cost of not transporting,NaN,NaN,NaN,NaN,NaN,587198.0

In [577]:
no_cost_of_not_transfer = len(cost_of_not_transfer.columns)
header_cost_of_not_transfer = createlist(0, no_cost_of_not_transfer)
cost_of_not_transfer.columns = header_cost_of_not_transfer
cost_of_not_transfer

,0,1,2,3,4,5
cost of not transporting,790000.0,NaN,NaN,NaN,NaN,NaN
cost of not transporting,NaN,430790.0,NaN,NaN,NaN,NaN
cost of not transporting,NaN,NaN,200354.0,NaN,NaN,NaN
cost of not transporting,NaN,NaN,NaN,275455.0,NaN,NaN
cost of not transporting,NaN,NaN,NaN,NaN,642740.0,NaN
cost of not transporting,NaN,NaN,NaN,NaN,NaN,587198.0

In [578]:
cost_home = cost_home.reset_index()
cost_home = cost_home.drop('index', axis = 1)
cost_home.fillna(0, axis = 1, inplace = True)
cost_home_sum = 0
for i in header_cost_home:
    for j in range(0,len(cost_home.index)):
        cost_home_sum = cost_home_sum + cost_home[i][j]

In [579]:
list_ = list_.reset_index()
list_ = list_.drop('index', axis = 1)
list_.fillna(0, axis = 1, inplace = True)
list_sum = 0
for i in header_list_:
    for j in range(0,len(list_.index)):
        list_sum = list_sum + list_[i][j]

In [580]:
cost_vc_origin = cost_vc_origin.reset_index()
cost_vc_origin = cost_vc_origin.drop('index', axis = 1)
cost_vc_origin.fillna(0, axis = 1, inplace = True)
cost_vc_origin_sum = 0
for i in header_cost_vc_origin:
    for j in range(0,len(cost_vc_origin.index)):
        cost_vc_origin_sum = cost_vc_origin_sum + cost_vc_origin[i][j]

In [581]:
cost_vc_dest = cost_vc_dest.reset_index()
cost_vc_dest = cost_vc_dest.drop('index', axis = 1)
cost_vc_dest.fillna(0, axis = 1, inplace = True)
cost_vc_dest_sum = 0
for i in header_cost_vc_dest:
    for j in range(0,len(cost_vc_dest.index)):
        cost_vc_dest_sum = cost_vc_dest_sum + cost_vc_dest[i][j]

In [582]:
cost_of_not_transfer = cost_of_not_transfer.reset_index()
cost_of_not_transfer = cost_of_not_transfer.drop('index', axis = 1)
cost_of_not_transfer.fillna(0, axis = 1, inplace = True)
cost_of_not_transfer_sum = 0
for i in header_cost_of_not_transfer:
    for j in range(0,len(cost_of_not_transfer.index)):
        cost_of_not_transfer_sum = cost_of_not_transfer_sum + cost_of_not_transfer[i][j]

In [583]:
Total_cost = cost_home_sum + list_sum + cost_vc_origin_sum + cost_vc_dest_sum + cost_of_not_transfer_sum

In [584]:
Total_cost

3019976.0

In [107]:
1585322-Total_cost

61686.0

In [327]:
cost_home_sum

163067.0

In [328]:
cost_of_not_transfer_sum

1496245.0

In [329]:
list_sum

142624.0

In [330]:
cost_vc_origin_sum + cost_vc_dest_sum

227625.0

In [331]:
cost_home

         0        1        2
0  20103.0      0.0      0.0
1      0.0  58472.0      0.0
2      0.0      0.0  84492.0

In [332]:
list_

         0       1       2        3    4
0      0.0     0.0  7783.0      0.0  0.0
1      0.0  5792.0     0.0      0.0  0.0
2      0.0     0.0     0.0  65817.0  0.0
3      0.0     0.0     0.0      0.0  0.0
4  63232.0     0.0     0.0      0.0  0.0
5      0.0     0.0     0.0      0.0  0.0
6      0.0     0.0     0.0      0.0  0.0
7      0.0     0.0     0.0      0.0  0.0
8      0.0     0.0     0.0      0.0  0.0
9      0.0     0.0     0.0      0.0  0.0

In [333]:
cost_vc_origin

         0        1        2        3
0  30200.0      0.0      0.0      0.0
1      0.0  23768.0      0.0      0.0
2      0.0      0.0  33227.0      0.0
3      0.0      0.0      0.0  23893.0

In [334]:
cost_vc_dest

         0        1        2        3
0  29828.0      0.0      0.0      0.0
1      0.0  28042.0      0.0      0.0
2      0.0      0.0  25440.0      0.0
3      0.0      0.0      0.0  33227.0

In [443]:
seen = []
f = []
g = []
list_ = []
for i in range(0, len(ret)):
    for j in range(0, len(ret[i])):
        if j+1 >= len(ret[i]):
            continue
        elif ret[i] == []:
            list_.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] == 0) & (df_cost['origin port'] == 0) & (df_cost['destination port'] == 0)])
    
                                                                                                             
        else:
            #vessel = i+1
            #origin_port = ret[i][j]
            #dest_port = ret[i][j+1]
            g = df_cargoes['origin port'][df_cargoes['cargo index'] == ret[i][j]]
            f = df_cargoes['destination port'][df_cargoes['cargo index'] == ret[i][j+1]]
            

            
            g = pd.DataFrame(g)
            g = g.loc[: , :].values.tolist()
            g = g[0][0]
            
            f = pd.DataFrame(f)
            f = f.loc[: , :].values.tolist()
            f = f[0][0]
            if ret[i][j] not in seen:

                list_.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == g) & (df_cost['destination port'] == f)])
                seen.append(ret[i][j])
            else:
                g = df_cargoes['origin port'][df_cargoes['cargo index'] == ret[i][j+1]]
                f = df_cargoes['destination port'][df_cargoes['cargo index'] == ret[i][j]]
            
             
                g = pd.DataFrame(g)
                g = g.loc[: , :].values.tolist()
                g = g[0][0]
            
                f = pd.DataFrame(f)
                f = f.loc[: , :].values.tolist()
                f = f[0][0]
                
                list_.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == g) & (df_cost['destination port'] == f)])

In [444]:
list_

[2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 1151    2820.0
 Name: travel cost (in Ä), dtype: float64,
 1166    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64)]

In [439]:
seen = []

for i in range(0, len(ret)):
    for j in range(0, len(ret[i])):
        if j+1 >= len(ret[i]):
            continue
        elif ret[i] == []:
            list_.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] == 0) & (df_cost['origin port'] == 0) & (df_cost['destination port'] == 0)])
        elif ret[i][j] not in seen:
            g = df_cargoes['origin port'][df_cargoes['cargo index'] == ret[i][j]]
            f = df_cargoes['destination port'][df_cargoes['cargo index'] == ret[i][j+1]]


            
            g = pd.DataFrame(g)
            g = g.loc[: , :].values.tolist()
            g = g[0][0]
            
            f = pd.DataFrame(f)
            f = f.loc[: , :].values.tolist()
            f = f[0][0]
            
     
            list_.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == g) & (df_cost['destination port'] == f)])
            seen.append(ret[i][j])
        else:
            g = df_cargoes['origin port'][df_cargoes['cargo index'] == ret[i][j+1]]
            f = df_cargoes['destination port'][df_cargoes['cargo index'] == ret[i][j]]
            
             
            g = pd.DataFrame(g)
            g = g.loc[: , :].values.tolist()
            g = g[0][0]
            
            f = pd.DataFrame(f)
            f = f.loc[: , :].values.tolist()
            f = f[0][0]
            
            list_.append(df_cost['travel cost (in Ä)'][(df_cost['vessel'] ==i+1) & (df_cost['origin port'] == g) & (df_cost['destination port'] == f)])

In [429]:
g = df_cargoes['origin port'][df_cargoes['cargo index'] == ret[2][2]]
f = df_cargoes['destination port'][df_cargoes['cargo index'] == ret[2][1]]

In [440]:
list_

[660    7783.0
 Name: travel cost (in Ä), dtype: float64,
 3091    5792.0
 Name: travel cost (in Ä), dtype: float64,
 3857    65817.0
 Name: travel cost (in Ä), dtype: float64,
 4442    0.0
 Name: travel cost (in Ä), dtype: float64,
 4358    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 4442    0.0
 Name: travel cost (in Ä), dtype: float64,
 1166    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 4442    0.0
 Name: travel cost (in Ä), dtype: float64,
 1166    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 4442    0.0
 Name: travel cost (in Ä), dtype: float64,
 1166    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 4442    0.0
 Name: travel cost (in Ä), dtype: float64,
 1166    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 4442    0.0
 Name: travel cost (in Ä), dtype: float64,
 1166    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 4442    0.0
 Name: travel cost (in Ä), dtype: float64,
 1166    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 4442    0.0
 Name: travel cost (in Ä), dtype: float64,
 1166    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 4442    0.0
 Name: travel cost (in Ä), dtype: float64,
 1166    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 4442    0.0
 Name: travel cost (in Ä), dtype: float64,
 1166    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 4442    0.0
 Name: travel cost (in Ä), dtype: float64,
 1166    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 2940    7783.0
 Name: travel cost (in Ä), dtype: float64,
 1951    5792.0
 Name: travel cost (in Ä), dtype: float64,
 4427    65817.0
 Name: travel cost (in Ä), dtype: float64,
 1151    2820.0
 Name: travel cost (in Ä), dtype: float64,
 1166    63232.0
 Name: travel cost (in Ä), dtype: float64,
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64),
 Series([], Name: travel cost (in Ä), dtype: float64)]

In [390]:
ret

[[7, 7], [3, 3], [5, 5, 6, 6], [1, 4, 2, 1, 4, 2]]

In [419]:
origin = []
dest = []
for i in range(0, len(ret)):
    for j in range(0, len(ret[i])):
        if ret[i][j] not in origin:
            origin.append(ret[i][j])
        else:
            dest.append(ret[i][j])

In [423]:
s =[]
for i in ret[2]:
    for j in (0,3):
        if ret[2][j] not in s:
            s.append(ret[2][j])

In [424]:
s

[5, 6]

In [421]:
dest

[7, 3, 5, 6, 1, 4, 2]

In [404]:
ret

[[7, 7], [3, 3], [5, 5, 6, 6], [1, 4, 2, 1, 4, 2]]

In [414]:
origin = []
dest = []
for i in range(0, len(ret)):
    for j in range(0, len(ret[i])):
        if j//2 == 0:
            origin.append(ret[i][j])
        else:
            dest.append(ret[i][j])

In [415]:
origin

[7, 7, 3, 3, 5, 5, 1, 4]

In [416]:
dest

[6, 6, 2, 1, 4, 2]

In [417]:
3//2

1

In [418]:
j

5